<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pe.com.smartfinance">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".viewcontrollers.activities.WelcomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".viewcontrollers.activities.LoginActivity"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".viewcontrollers.activities.RegisterActivity"
            android:label="@string/title_activity_register">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".viewcontrollers.activities.LoginActivity" />
        </activity>
        <activity
            android:name=".viewcontrollers.activities.MainActivity" />
        <activity
            android:name=".viewcontrollers.activities.BusinessActivity"
            android:label="@string/title_activity_business" />
        <activity
            android:name=".viewcontrollers.activities.AddExpensesActivity"
            android:label="@string/title_activity_add_expenses"
            android:parentActivityName=".viewcontrollers.activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".viewcontrollers.activities.MainActivity" />
        </activity>
        <activity
            android:name=".viewcontrollers.activities.AddIncomesActivity"
            android:label="@string/title_activity_add_incomes"
            android:parentActivityName=".viewcontrollers.activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".viewcontrollers.activities.MainActivity" />
        </activity>
    </application>

</manifest>